body {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #2d2d2d;
  border-radius: 10px;
  border: 1px solid #121212;
}

::-webkit-scrollbar-thumb:hover {
  background: #3c4043;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #2d2d2d transparent;
}